*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --ff-primary: 'Cabin', sans-serif;

    --fw-h1: 600;
    --fw-h2: 500;
    --fw-body: 400;

    --fs-h1: 2.2em;
    --fs-h2: 2em;
    --fs-body: 1em;

    --clr-light: #FEFEFE;
    --clr-dark: #000000;
    --clr-accent: #EFEEEB;
    --clr-body-gray: #606060;
}


/* General Styles, Typography */
header { background-color: var(--clr-accent) }

h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
}

h2 { 
    font-family: var(--ff-primary);
    font-weight: var(--fw-h2);
    font-size: var(--fs-h2);
}

p { 
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

button {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.banner {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    margin-bottom: 1em;
    margin-top: 0;
    padding: 1em;
    text-align: center;
}

.banner span {
    text-decoration: underline;
    display: inline-block;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 3em;
}

.section__intro {
    background-color: var(--clr-accent);
}

.section__info {
    background-color: var(--clr-light);
}

.section__intro__body { 
    color: var(--clr-body-gray);
    letter-spacing: .4px;
}

.section__intro__body span {
    font-style: italic;
}

.subsection__info__escrow {
    background-color: var(--clr-accent);
}

.subsection__info__link {
    color: var(--clr-dark);
    font-family: var(--ff-primary);
}

.hero__img {
    content: url('./Assets/Hero\ Image\ \(Mobile\).png');
}

.phone__mockup {
    content: url('./Assets/Phone\ Mockup\ \(Mobile\).png');
}

@media (min-width: 768px) {
    .hero__img {
        content: url('./Assets/Hero\ Image\ \(Tablet\).png');
    }

    .phone__mockup {
        content: url('./Assets/Phone\ Mockup\ \(Tablet\).png');
    }
}

@media (min-width: 1024px) {
    .hero__img {
        content: url('./Assets/Hero\ Image\ \(Desktop\).png');
    }

    .phone__mockup {
        content: url('./Assets/Phone\ Mockup\ \(Desktop\).png');
    }
}


/* Nav */
.logo_with_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.nav-toggle { display: none }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-accent);
    z-index: 100;
}

.nav_lists { 
    display: flex;
}

.nav_list_main,
.nav_list_login {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin-left: 7em;
}

.nav_link {
    text-decoration: none;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--clr-dark);
    padding: 0 .5em;
}

.nav_link_button { 
    color: var(--clr-light);
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav_list_main,
    .nav_list_login {
        margin-left: 0;
    }
}

@media (max-width: 550px) {
    .logo_with_nav { padding: 0 .5em }
    
    .nav[data-visibility='true'] {
        transform: translateX(60%);
    }
    
    .nav {
        position: fixed;
        background: rgba(222, 222, 222, 0.75);
        backdrop-filter: blur(3px);
        z-index: 10;
        inset: 0;
        transform: translateX(100%);
        transition: transform 300ms ease-in-out;
    }

    .nav-toggle { 
        display: block;
        position: absolute;
        z-index: 9999;
        background: url('./Assets/Hamburger\ Menu.svg');
        background-repeat: no-repeat;
        background-color: transparent;
        border-radius: 0;
        cursor: pointer;
        width: 2em;
        aspect-ratio: 1;
        top: 8em;
        right: 2em;
    }

    .nav-toggle[aria-expanded="true"] {
        background-image: url('./Assets/Checkmark.svg');
        top: 2em;
    }

    .nav_lists { 
        flex-direction: column;
        position: absolute;
        z-index: 100;
    }

    .nav_list_main,
    .nav_list_login {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_list_main .nav_list_item {
        padding: 0 0 1.5em 2em;
    }

    .nav_list_login {
        padding: 1em 0 0 2em;
    }

    .nav_list_login > * {
        padding-bottom: 1em;
    }


    /* .hamburger {
        display: block;
        position: relative;
        color: var(--clr-dark);
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: var(--clr-dark);
        width: 1em;
        height: 2.5px;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }

    .hamburger::before { top: 4.5px }
    .hamburger::after { bottom: 4.5px } */
}


/* Intro */
.section__intro__title {
    margin: 0 auto;
    padding-top: 1em;
}

.section__intro__body {
    margin-bottom: 0;
}

.intro__list {
    list-style: none;
    padding-left: 0;
}

.intro__list__item {
    font-family: var(--ff-primary);
    color: var(--clr-body-gray);
    padding-bottom: .5em;
}

.intro__list__item img {
    padding-right: .5em;
    vertical-align: middle;
}

.intro__email__input {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    color: #cfcfcf;
}


/* Info */
.socials__list {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    padding-left: 0;
    margin: 0 1em;
    height: 5em;
}

.socials__item {
    padding-top: 3em; 
    padding-right: 2em;
}

.socials__item img { 
    width: 150px;
}


/* Footer */
.footer {
    background-color: var(--clr-dark);
    color: #aeaeae;
}

.footer__body span {
    font-style: italic;
}

.nav__footer__list { padding-left: 0 }

.nav__footer__headlink,
.nav__footer__link {
    text-decoration: none;
    list-style: none;
    font-family: var(--ff-primary);
    color: var(--clr-body-gray);
}

.nav__footer__headlink,
.footer__subtitle 
{ color: var(--clr-light);
}